#include <libdragon.h>
#include <t3d/t3d.h>
#include <t3d/t3dmodel.h>

#include "../types.h"
#include "../src/models.h"

void scene_{scene_name}_init(ArmScene *scene)
{{
    // World
    scene->world.clearColor[0] = {cr};
    scene->world.clearColor[1] = {cg};
    scene->world.clearColor[2] = {cb};
    scene->world.clearColor[3] = 0xFF;

    scene->world.ambientColor[0] = {ar};
    scene->world.ambientColor[1] = {ag};
    scene->world.ambientColor[2] = {ab};
    scene->world.ambientColor[3] = 0xFF;

    // Camera
    scene->camera.pos = (T3DVec3){{{{{cam_pos_x}f, {cam_pos_y}f, {cam_pos_z}f}}}};
    scene->camera.target = (T3DVec3){{{{{cam_target_x}f, {cam_target_y}f, {cam_target_z}f}}}};
    scene->camera.fov = {cam_fov}f;
    scene->camera.near = {cam_near}f;
    scene->camera.far = {cam_far}f;

    // Lights
    static ArmLight lights[{light_count}];
    scene->lights = lights;
    scene->lightCount = {light_count};

{lights_block}

    // Objects
    static ArmObject objects[{object_count}];
    scene->objects = objects;
    scene->objectCount = {object_count};

{objects_block}
}}
