#pragma once

#include <t3d/t3dmodel.h>

#ifdef __cplusplus
extern "C" {{
#endif

typedef enum {{
{model_enum_entries}
    MODEL_COUNT = {model_count}
}} ModelId;

void models_init(void);
void models_shutdown(void);

T3DModel *models_get(ModelId id);

#ifdef __cplusplus
}}
#endif