#pragma once

#include <t3d/t3dmodel.h>
#include <rspq.h>

#ifdef __cplusplus
extern "C" {{
#endif

typedef enum {{
{model_enum_entries}
    MODEL_COUNT = {model_count}
}} ModelId;

void models_init(void);
void models_shutdown(void);

T3DModel *models_get(ModelId id);
rspq_block_t *models_get_dpl(ModelId id);

// TODO: Implement reference counting to know when a model is no longer used by any scene
void models_unload(ModelId id);

#ifdef __cplusplus
}}
#endif
