#include "objects.h"

void object_on_ready(ArmObject *obj)
{{
	switch (obj->trait) {{
{object_on_ready_switch_cases}
		default:
			break;
	}}
}}

void object_on_update(ArmObject *obj, float dt)
{{
	for (uint8_t i = 0; i < obj->trait_count; ++i) {{
		switch (obj->traits[i]) {{
{object_on_update_switch_cases}
			default:
				break;
		}}
	}}
}}

void object_on_remove(ArmObject *obj)
{{
	switch (obj->trait) {{
{object_on_remove_switch_cases}
		default:
			break;
	}}
}}
