#include <libdragon.h>
#include <t3d/t3d.h>
#include <t3d/t3dmodel.h>

#include "../types.h"
#include "scenes.h"
#include "objects.h"

{scene_declarations}

static ArmScene g_scenes[SCENE_COUNT];

void scenes_init_all(void)
{{
    for (uint8_t i = 0; i < SCENE_COUNT; ++i) {{
        scene_clear((SceneId)i);
    }}

{scene_inits}
}}

void scene_init(SceneId id)
{{
    if (id < 0 || id >= SCENE_COUNT) {{
        return;
    }}

    scene_clear(id);

    switch (id) {{
{scene_init_switch_cases}
		default:
			break;
    }}
}}

void scene_on_ready(SceneId id)
{{
	ArmScene *s = &g_scenes[id];

	for (uint16_t i = 0; i < s->objectCount; ++i) {{
		object_on_ready(&s->objects[i]);
	}}
}}

void scene_on_update(SceneId id, float dt)
{{
	ArmScene *s = &g_scenes[id];

	for (uint16_t i = 0; i < s->objectCount; ++i) {{
		object_on_update(&s->objects[i], dt);
	}}
}}

void scene_on_remove(SceneId id)
{{
	ArmScene *s = &g_scenes[id];
	for (uint16_t i = 0; i < s->objectCount; ++i) {{
		object_on_remove(&s->objects[i]);
	}}
}}

void scene_clear(SceneId id)
{{
    if (id < 0 || id >= SCENE_COUNT) {{
        return;
    }}

    ArmScene *s = &g_scenes[id];

	for (uint16_t i = 0; i < s->objectCount; ++i) {{
		if (s->objects[i].modelMat) {{
			free_uncached(s->objects[i].modelMat);
			s->objects[i].modelMat = NULL;
		}}
		s->objects[i].model = NULL;
	}}

    s->world.clearColor[0] = s->world.clearColor[1] = s->world.clearColor[2] = 0;
    s->world.clearColor[3] = 0xFF;
    s->world.ambientColor[0] = s->world.ambientColor[1] = s->world.ambientColor[2] = 0;
    s->world.ambientColor[3] = 0xFF;

    s->camera.pos = (T3DVec3){{{{0.0f, 0.0f, 0.0f}}}};
    s->camera.target = (T3DVec3){{{{0.0f, 0.0f, 0.0f}}}};
    s->camera.fov = 60.0f;
    s->camera.near = 10.0f;
    s->camera.far = 150.0f;

    s->objects = NULL;
    s->objectCount = 0;
    s->lights = NULL;
    s->lightCount = 0;
}}

ArmScene *sceneGet(SceneId id)
{{
    if (id < 0 || id >= SCENE_COUNT) {{
        return NULL;
    }}
    return &g_scenes[id];
}}
