#pragma once

#include "../types.h"

#ifdef __cplusplus
extern "C" {{
#endif

typedef enum SceneId {{
{scene_enum_entries}
    SCENE_COUNT = {scene_count}
}} SceneId;

{scene_declarations}

void scenes_init_all(void);

void scene_init(SceneId id);
void scene_on_ready(SceneId id);
void scene_on_update(SceneId id, float dt);
void scene_on_remove(SceneId id);
void scene_clear(SceneId id);

ArmScene *scene_get(SceneId id);

#ifdef __cplusplus
}}
#endif