// Trait: {trait_class}
void {func_name}_on_ready(void *entity) {{
    (void)entity;
{on_ready_code}
}}

void {func_name}_on_update(void *entity, float dt) {{
    (void)entity;
    (void)dt;
{on_update_code}
}}

void {func_name}_on_remove(void *entity) {{
    (void)entity;
{on_remove_code}
}}
