#include "traits.h"
#include "types.h"
#include "input.h"
#include "scenes.h"
#include "iron/transform.h"

// Centralized trait data instances
{trait_data_definitions}

// Trait implementations

{trait_implementations}