#include <libdragon.h>
#include <t3d/t3d.h>
#include <t3d/t3dmodel.h>

#include "../types.h"
#include "../data/models.h"
#include "../data/traits.h"
#include "../data/scenes.h"

extern rspq_block_t *models_get_dpl(ModelId id);

void scene_{scene_name}_init(ArmScene *scene)
{{
    // World
    scene->world.clear_color[0] = {cr};
    scene->world.clear_color[1] = {cg};
    scene->world.clear_color[2] = {cb};
    scene->world.clear_color[3] = 0xFF;

    scene->world.ambient_color[0] = {ar};
    scene->world.ambient_color[1] = {ag};
    scene->world.ambient_color[2] = {ab};
    scene->world.ambient_color[3] = 0xFF;

    // Cameras
    static ArmCamera cameras[{camera_count}];
    scene->cameras = cameras;
    scene->camera_count = {camera_count};
    scene->active_camera_id = 0;

{cameras_block}

    // Lights
    static ArmLight lights[{light_count}];
    scene->lights = lights;
    scene->light_count = {light_count};

{lights_block}

    // Objects
    static ArmObject objects[{object_count}];
    scene->objects = objects;
    scene->object_count = {object_count};

{objects_block}

    // Scene traits
    scene->trait_count = {scene_trait_count};
{scene_traits_block}
}}
