#pragma once

#include <stdint.h>
#include <t3d/t3dmath.h>
#include <t3d/t3dmodel.h>

#ifdef __cplusplus
extern "C" {{
#endif

#define FB_COUNT 3
#define MAX_TRAITS {max_traits}

typedef enum {{
{traits_enum_entries}
}} ArmTraitId;

typedef struct {{
	uint8_t id;
    float pos[3];
    float rot[3];
    float scale[3];

	T3DModel *model;
    T3DMat4FP *model_mat;

	uint8_t trait_count;
	ArmTraitId traits[MAX_TRAITS];
}} ArmObject;

typedef struct {{
    uint8_t color[4];
    T3DVec3 dir;

	uint8_t trait_count;
	ArmTraitId traits[MAX_TRAITS];
}} ArmLight;

typedef struct {{
    T3DVec3 pos;
    T3DVec3 target;
    float fov;
    float near;
    float far;

	uint8_t trait_count;
	ArmTraitId traits[MAX_TRAITS];
}} ArmCamera;

typedef struct {{
    uint8_t clear_color[4];
    uint8_t ambient_color[4];
}} ArmWorld;

typedef struct {{
    ArmWorld world;

	uint8_t camera_count;
    ArmCamera camera;

    uint8_t light_count;
    ArmLight *lights;

    uint16_t object_count;
    ArmObject *objects;

	uint8_t trait_count;
	ArmTraitId traits[MAX_TRAITS];
}} ArmScene;

#ifdef __cplusplus
}}
#endif
