#pragma once

#include "../types.h"

#ifdef __cplusplus
extern "C" {{
#endif

typedef enum SceneId {{
{scene_enum_entries}
    SCENE_COUNT = {scene_count}
}} SceneId;

{scene_declarations}

void scene_init(SceneId id);
void scene_on_ready(SceneId id);
void scene_on_fixed_update(SceneId id, float dt);
void scene_on_update(SceneId id, float dt);
void scene_on_remove(SceneId id);
void scene_clear(SceneId id);

void scene_sync_physics(SceneId id);

void scene_switch_to(SceneId id);
SceneId scene_get_id_by_name(const char *name);
SceneId scene_get_pending(void);
void scene_clear_pending(void);

ArmScene *scene_get(SceneId id);

#ifdef __cplusplus
}}
#endif