#include "traits.h"
#include "scenes.h"
#include "../types.h"
#include "../iron/object/transform.h"
#include "../iron/system/input.h"

// Centralized trait data instances
{trait_data_definitions}

// Trait implementations

{trait_implementations}